@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
:root {
  --cor-branco: #f1f1f1;
  --cor-cinza-claro: #e0e0e0;
  --cor-cinza-escuro: #585858;
  --cor-preto-med: #111111;
  --font-comun: "Open Sans", sans-serif;
}

html {
  font-family: var(--font-comun);
  font-weight: 600;
}
html a {
  text-decoration: none;
  color: inherit;
}
html input {
  outline: none;
}

.header__logo {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
@media (max-width: 1200px) {
  .header__logo {
    flex-grow: 1;
  }
}
.header__logo .logo__img {
  height: 25px;
  transform: translateY(10px);
}

.header__search {
  position: relative;
}
.header__search__img {
  width: 24px;
  opacity: 26%;
  top: 8px;
  position: absolute;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.26);
  line-height: 40px;
}
.header__search__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding-left: 40px;
}
.header__search__input:hover {
  border-color: #000;
}
.header__search__input::placeholder {
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9b9b9b;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu .item__link {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: baseline;
}
.menu .item__link:hover {
  border-bottom: 2px solid #000;
}

.drawer {
  width: 24px;
  opacity: 54%;
  display: none;
}
.drawer__title {
  text-transform: lowercase;
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0;
}
.drawer-closed > img {
  background: url(../assets/close.svg) no-repeat;
  background-size: contain;
}
.drawer-closed .drawer__title:after {
  content: "fechar";
}

.drawer-active {
  display: block;
}

.header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cor-cinza-claro);
}
.header__container {
  margin: auto;
  width: 95%;
  max-width: container 1200px;
}
.header__mobile {
  display: none;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .header__mobile {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .header__desktop {
    display: none;
  }
}

.breadcrumbs {
  margin-bottom: 16px;
}
.breadcrumbs .breadcrumbs__list {
  display: flex;
}
@media (max-width: 1200px) {
  .breadcrumbs .breadcrumbs__list {
    justify-content: center;
  }
}
.breadcrumbs .breadcrumbs__list__item {
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--cor-cinza-escuro);
}
@media (max-width: 1200px) {
  .breadcrumbs .breadcrumbs__list__item {
    display: none;
  }
}
.breadcrumbs .breadcrumbs__list__item:not(:last-child):hover {
  text-decoration: underline;
}
.breadcrumbs .breadcrumbs__list__item--active {
  color: #261e1e;
}
@media (max-width: 1200px) {
  .breadcrumbs .breadcrumbs__list__item--active {
    display: block;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.breadcrumbs .breadcrumbs__list .list__separator {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}

.filters {
  border-top: 1px solid var(--cor-cinza-claro);
  border-bottom: 1px solid var(--cor-cinza-claro);
}
@media (max-width: 1200px) {
  .filters {
    display: none;
  }
}
.filters__list {
  display: flex;
}
.filters__list__item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.filters__list__item:hover {
  cursor: pointer;
  background-color: var(--cor-branco);
}
.filters__list__item__label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: var(--cor-cinza-escuro);
}
.filters__list__item__img {
  height: 20px;
  margin-left: 8px;
}

.products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.products__row {
  margin: 8px;
}
.products__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .products__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .products__list__cards {
    flex-basis: 50%;
  }
}
.products__list__card {
  cursor: pointer;
  border: 1px solid white;
  padding: 8px;
}
.products__list__card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.products__list__card__img {
  max-width: 100%;
  max-height: 100%;
}
.products__list__card__description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: var(--cor-preto-med);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.products__list__card__price {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  padding: 16px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .info {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.contact .input {
  height: 24px;
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  outline: none;
  width: 300px;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #000;
}
.contact .input:hover {
  border-bottom: 2px solid #261E1E;
}
.contact .input:focus-within {
  border-bottom: 2px solid #261E1E;
}
.contact .input::placeholder {
  font-style: italic;
  opacity: 42%;
  font-weight: 600;
}
.contact .btn {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
}
.contact .btn .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.contact .apps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .apps .msg {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
}
.contact .apps .app {
  margin-left: 10px;
}
.contact .apps .app .img {
  width: 110px;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer .container {
  margin: 0 auto;
  width: 90%;
}
.footer .links {
  background-color: #f6f6f6;
  margin-top: 40px;
  display: flex;
}
.footer .links .contacts {
  width: 30%;
  display: flex;
}
.footer .links .contacts .col {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.footer .links .contacts .contact-icon {
  text-align: center;
}
.footer .links .contacts .contact-icon .img {
  display: block;
  margin: auto;
  width: 25px;
}
.footer .links .contacts .contact-icon .text {
  padding: 8px;
  font-size: 0.8125rem;
  white-space: pre-line;
}
.footer .links .separator {
  width: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}
.footer .links .companies {
  display: flex;
  width: 60%;
  padding: 50px;
}
.footer .links .companies .company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.footer .links .companies .company-links .item {
  padding-top: 8px;
}
.footer .links .companies .company-links .item .title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.footer .links .companies .company-links .item .text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.footer .links .companies .company-links .item .text:hover {
  text-decoration: underline;
}
.footer .payment {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.footer .payment .alternatives {
  width: 50%;
}
.footer .payment .alternatives .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .alternatives .img {
  margin: 2px;
  width: auto;
}
.footer .payment .social {
  flex-grow: 1;
}
.footer .payment .social .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .social .icons {
  display: flex;
}
.footer .payment .social .icons .icon {
  width: 50px;
}
.footer .payment .social .icons .icon .img {
  display: block;
  margin: auto;
}
.footer .payment .social .icons .icon .text {
  padding-top: 4px;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
}
.footer .payment .accessibility {
  flex-grow: 1;
}
.footer .payment .accessibility .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .payment .accessibility .img {
  width: 30px;
}
.footer .bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.footer .bottom .container {
  display: flex;
}
.footer .bottom .copyright {
  width: 83.333333%;
}
.footer .bottom .copyright .text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}
.footer .bottom .stamp {
  margin: 0 auto;
  width: 47px;
}

.hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
