@import "components/footerContact";

.footer {

    border-top: 2px solid lightgray;
  
    padding-top: 40px;
    width: 100%;
  
    .container {
      margin: 0 auto;
      width: 90%;
    }
  
    
  
    // inicio links
    .links {
        background-color: #f6f6f6;
        margin-top: 40px;
  
        display: flex;
  
        .contacts {
          width: 30%;
          display: flex;
  
          .col {
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
          }
  
          .contact-icon {
            text-align: center;
            .img {
              display:block;
              margin:auto;
              width: 25px;
            }
            .text {
              padding: 8px;
              font-size: 0.8125rem;
              white-space: pre-line;
            }
          }
        }
  
        .separator {
          width: 1px;
          border: none;
          background-color: rgba(0, 0, 0, 0.12);
        }
  
        .companies {
          display: flex;
          width: 60%;
          padding: 50px;
  
          .company-links {
            flex-grow: 1;
            margin-left: 8px;
            margin-right: 8px;
  
            .item {
              padding-top: 8px;
            
              .title {
                text-transform: uppercase;
                font-size: 0.875rem;
              }
    
              .text {
                line-height: 25px;
                font-size: 0.6875rem;
                font-weight: 400;
                color: black;
    
                &:hover {
                  text-decoration: underline;
                }
              }
  
            }
  
          }
        }
      } // fim links
  
    // inicio payment
    .payment {
  
      margin-top: 25px;
      margin-bottom: 25px;
  
      display: flex;
  
      .alternatives {
  
        width: 50%;
  
        .title {
          text-transform: uppercase;
          margin-bottom: 10px;
        }
  
        .img {
          margin: 2px;
          width: auto;
        }
  
      }
  
      .social {
  
        flex-grow: 1;
  
        .title {
          text-transform: uppercase;
          margin-bottom: 10px;
        }
  
        .icons {
          display: flex;
  
          .icon {
            width: 50px;
  
            .img {
              display: block;
              margin: auto;
            }
  
            .text {
              padding-top: 4px;
              font-size: 0.6875rem;
              font-weight: 300;
              text-align: center;
            }
  
          }
  
        }
  
      }
  
      .accessibility {
        flex-grow: 1;
  
        .title {
          text-transform: uppercase;
          margin-bottom: 10px;
        }
  
        .img {
          width: 30px;
        }
  
      }
    } // fim payment
  
    // inicio bottom
    .bottom {
  
      background-color: #f6f6f6;
      padding: 20px 0;
  
      .container {
        display: flex;
      }
  
      .copyright {
        width: 83.333333%;
    
        .text {
          font-size: 0.5625rem;
          font-weight: 400;
          color: #261E1E;
        }
  
      }
  
      .stamp {
        margin: 0 auto;
        width: 47px;
      }
  
    } // fim bottom
  
  } // fim footer